@{
    var theme = Context.Request.Cookies["Theme"] ?? "light";
    var isChecked = theme == "dark" ? "checked" : "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/style.css">
    @RenderSection("Styles", required: false)
    <title>@ViewBag.Title</title>
</head>

<body class="@(Context.Request.Cookies["Theme"] ?? "light")">
    <!-- Sidebar-->
    <div class="sidebar">
        <a href="#" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>DashAdmin</span></div>
        </a>
        <div class="menu-items">
            <ul class="side-menu">
                <li><a asp-controller="Home" asp-action="Index"><i class='bx bx-home'></i><span
                            class="menu-text">Home</span></a></li>
                <li><a asp-controller="Dashboard" asp-action="Index"><i class='bx bxs-dashboard'></i><span
                            class="menu-text">Dashboard</span></a></li>
                <li><a asp-controller="Schedule" asp-action="Index"><i class='bx bx-time-five'></i><span
                            class="menu-text">Schedule</span></a></li>
                <li><a asp-controller="Tasks" asp-action="Index"><i class='bx bx-task'></i><span
                            class="menu-text">Tasks</span></a></li>
                <li><a asp-controller="Store" asp-action="Index"><i class='bx bx-store'></i><span
                            class="menu-text">Store</span></a></li>
                <li><a asp-controller="Reports" asp-action="Index"><i class='bx bxs-report'></i><span
                            class="menu-text">Reports</span></a></li>

                <button class="dropdown-btn"><i class="bx bx-user"></i><span class="menu-text">Members</span>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <li><a asp-controller="MembersCrew" asp-action="Index"></i><span class="crew-text">Crew</span></a>
                    </li>
                    <li><a asp-controller="Members" asp-action="Index"></i><span class="clients-text">Clients</span></a>
                    </li>
                </div>

                <li><a asp-controller="Communication" asp-action="Index"><i class='bx bx-chat'></i><span
                            class="menu-text">Communication</span></a></li>
                <li><a asp-controller="Settings" asp-action="Index"><i class='bx bx-cog'></i><span
                            class="menu-text">Settings</span></a></li>
            </ul>
        </div>
        <ul class="side-menu logout-menu">
            <li><a href="#" class="logout"><i class='bx bx-log-out'></i><span class="menu-text">Logout</span></a></li>
        </ul>
    </div>


    <!-- End Sidebar-->

    <!--Main Content-->
    <div class="content">
        <!-- Navabar -->
        <nav>
            <i class='bx bx-menu-alt-left'></i>

            <input type="checkbox" id="theme-toggle" hidden @isChecked>
            <label for="theme-toggle" class="theme-toggle"></label>

            <a href="#" class="notif">
                <i class='bx bxs-bell-ring'></i>
                <span class="count">12</span>

            </a>
            <a href="#" class="profile">
                <img src="/Images/avatar.png">
            </a>
            <!-- End Navabar -->
        </nav>
        <!-- Body -->
        <main>
            @RenderBody();
        </main>

    </div>
    <!--End Main Content-->
    <script src="~/js/index.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>